---
import type { GetStaticPathsOptions, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

import { getPosts } from '@utils/posts'
import { hrefs } from '@utils/hrefs'
import { site } from '@src/site'

import Base from '@layouts/Base.astro'

import Breadcrumbs from '@components/Breadcrumbs.astro'
import Pagination from '@components/Pagination.astro'
import PostsLoop from '@components/blog/PostsLoop.astro'

interface Props {
	page: Page<CollectionEntry<'posts'>>
}

export async function getStaticPaths (
  { paginate }: GetStaticPathsOptions
) {
	const { byCategory, categories } = await getPosts()

  return categories.flatMap(
    (category) => paginate(
      byCategory(category.slug), {
        params: {
          slug: category.slug
        },
        props: {
          current: category,
        },
        pageSize: site.perPage
      }
    )
  )
}

const { current, page } = Astro.props as Props

const params = Astro.params
const posts = page.data
---

<Base
  title={`Category: ${current.name}`}
  description={`All posts that are in "${current.name}"`}
>
  <Breadcrumbs
    page={current}
    slot="before-content"
  />

	<h1>Category: "{current.name}"</h1>

  <p>{current.count} post{current.count !== 1 && 's'} in this category</p>

  <PostsLoop {posts} />

  <p><a href={hrefs.categories}>View all categories</a></p>

	<Pagination {page} />
</Base>
